* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.login{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    /* background: yellow; */
    background-size: cover;
    background-position: center;
}
.login-box {
    position: relative;
    height: 450px;
    width: 400px;
    background: rgba(255, 98, 0, 0.718);
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
h2 {
    font-size: 2em;
    text-align: center;
}
.input-box {
    position: relative;
    width: 310px;
    margin: 30px 0;
    border-bottom: 2px solid #fff;
}
.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    font-size: 1em;    
    backdrop-filter: blur(15px);
    color: #fff;
    pointer-events: none;
    transform: translateY(-50%);
    transition: .5s;
}
.input-box input:focus ~ label,
.input-box input:valid ~ label {
    top: -5px;
}
.input-box input{
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    padding: 0 35px 0 5px;
}
.input-box .icon{
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.em;
    line-height: 57px;
}
.remember-forget{
    font-size: .9em;
    color: #fff;
    display: flex;
    justify-content: space-between;
    margin: -15px 0 15px;
}
.remember-forget label input{
    margin-right: 3px;
    cursor: pointer;
}
.remember-forget a{
    text-decoration: none;
    color: #fff
}
.remember-forget a:hover{
    text-decoration: underline;
}

button{
    width: 100%;
    height: 40px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1em;
    color: black;
    font-weight: 600;
}
.register-link{
    margin-top: 20px;
    font-size: .9em;
    color: #fff;
    text-align: center;
}
.register-link p a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}
.register-link p a:hover{
    text-decoration: underline;
}

@media (max-width: 500px) {
    .login-box{
        width: 100%;
        height: 100vh;
        border: none;
        border-radius: none;
    }
}